//overall slam parameters (assign angles as degrees, ignore the naming conventions of variables)
Slam{
	distErr = 0.15;
	rotErr = 0.1;

	decimate = 1;
	maxScanHistory = 5;
	metersPerPixel = 0.025;
	rangeCovariance = 0.0035;
	gridmap_size = 40;
	old_scan_decay = 5;

	minLaser = 0.5;
	maxLaser = 8;
 
	search_x_m = 0.1;
	search_y_m = 0.1;
	search_theta_rad = 45;
	search_theta_res_rad = 1;

	pose_dist_thresh_m = 1;
	pose_theta_thresh_rad = 25;

	//soarSLAM specific parameters
	useOdom = true;
	loopClose = true;
}

//loop closure scan matcher parameters
LoopMatcher{
	metersPerPixel = 0.025;
 	rangeCovariance = 0.0035;
    	gridmap_size = 40;
    	distErr = 0.15;
    	rotErr = 0.1;
    	minMatchScore = 12750;
    	trange = 10;
    	trangeres = 1;
    	xyrange = 1.5;
    	xCov = 1.0;
    	yCov = 1.0;
    	tCov = 5.0;
}

//loop closure task parameters
LoopCloser{
        max_loop_length = 4;
        maxScanMatchAttempts = 40;
        maxAcceptEdges = 10;
        minTrace = 0.2;
        maxHypothesisAge = 20;
        mahlMax = 1.0;
        hypoAddDistThres = 5.0;
}

